#card{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

input{
    height: 44px;
    color: white;
    background-color: rgb(255, 255, 255);
    border-color: transparent;
    transition-duration: 1s;
    min-width: 35vw;
    background: transparent;
    background-image: url('search.svg');
    background-repeat: no-repeat;
    background-position: right;
    fill: #ffffff;
    border-bottom:1px solid white;

}   
input:focus{
    outline: none;
    border-color: transparent;
    background: #ffffff;
    color: black;
    border-radius: 15px;
}
input:focus::placeholder{
    color: rgb(167, 167, 167);
}